<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
    <body>
        <div>
            <h2><%= message[0].username %> </h1>
            <p><%= message[0].text %></p>
            <p><%= message[0].added %></p>
        </div>
        <a class="button" href="/">Return</a>
    </body>
</html>